@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), url(./fonts/Gilroy/Gilroy-Regular.woff);
}

@font-face {
  font-family: "Gilroy Bold";
  src: local("Gilroy Bold"), url(./fonts/Gilroy/Gilroy-Bold.woff);
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
